
html, body {
    margin: 0;
    padding: 0;
    font-family: "roboto",sans-serif;
    font-weight: 400;
    height: 100%;
    width: 100%;
    font-size: 16px;
    display: flex;
}

#root {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;

}